<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
    <main id="main">
        <section class="aboutme">
            <h1 class="title">About Me</h1>
            <img class="picture" src="/public/images/pp.jpeg"/>
            <p class="description" style="margin-top:20px;">
                I am Manu Eldo. I studied Software Engineering Technology at Centennial College, Toronto from 2019-2022. I'm well-versed in Java, C#, .NET, JavaScript, SQL and Linux. My age is 21 as of October 2021 and I'm originally from India. 
            </p>
            
            <a href="public/docs/resume.pdf" class="button" download>View Resume</a>
        </section>
    </main>
    <footer id="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>