<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
    <main id="main">
        <form id="login-form" method="POST">
            <h1>Login</h1>
            <div>
                <input class="textbox" type="text" placeholder="Username" name="username"/>
            </div>
            <div>
                <input class="textbox" type="password" placeholder="Password" name="password"/>
            </div>
            <div class="submission">
                <button class="button" type="submit">Login</button>
                <p><%= submitRes %></p>
            </div>
        </form>
    </main>
    <footer id="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>